.sign-in{
  display: flex;
  width: 30%;
  flex-direction: column;

  .title{
    margin: 10px 0px;
  }

  .buttons{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .custom-button{
      margin-bottom: 10px;
    }
  }
  
}
