$google-blue: #4285f4;
$button-active-blue: #1669F2;

.custom-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  border: none;
  font-size: 15px;
  min-width: 165px;
  width: auto;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 35px 0 35px;
  font-weight: bolder;
  text-transform: uppercase;
  cursor: pointer;
  
  &:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
  }

  &.google-sign-in{
    color: white;
    background-color: $google-blue;
    
    &:hover{
      background-color: $button-active-blue;
      border: none;
    }
  }

  &.inverted-style{
    background-color: white;
    color: black;
    border: 1px solid black;

    &:hover{
      background-color: black;
      color: white;
    }
  }
}

