.cart-icon{
  position: relative;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  .cart-logo{
    width: 25px;
    height: 30px;
  }

  .item-count{
    position: absolute;
    bottom: 11px;
    font-weight: bold;
    font-size: 14px;
  }
}